[submodule "penumbra"]
	path = lib/penumbra
	url = https://github.com/Ottermandias/Penumbra.Api

[submodule "customizeplus"]
	path = lib/customizeplus
	url = https://github.com/Aether-Tools/CustomizePlus
[submodule "lib/Penumbra.Api"]
	path = lib/Penumbra.Api
	url = https://github.com/Ottermandias/Penumbra.Api
[submodule "lib/CustomizePlus"]
	path = lib/CustomizePlus
	url = https://github.com/Aether-Tools/CustomizePlus
